<div class="container-fluid h-100">
    <div class="row nav-breadcrumb">
        <nav class="col">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Home</li>
              </ol>
        </nav>
    </div>    
    <div class="row main-content"> 
      <div class="col d-flex justify-content-center align-items-center">
        <div class="home-page text-center">
            <h1 class="home-title">Welcome to Alerna Call Center</h1>
        </div>
      </div>
    </div>
</div>