@import 'bootstrap/scss/bootstrap';
html, body {
    margin: 0; 
    padding: 0;
  }

.router-content{
    //height of every page will be the height of the viewport minus the height of the (navbar + breadcrumb)
    height: calc(100vh - 60px);
    width: 100vw;
    margin-top: 60px;
}

.nav-breadcrumb {
    height: 5% !important;
}

.main-content {
    height: 95% !important;
}