@import 'bootstrap/scss/bootstrap';
html, body {
    margin: 0; 
    padding: 0;
  }
.main-content{
    //height of every page will be the height of the viewport minus the height of the navbar
    height: calc(100vh - 60px);
    margin-top: 60px;
}